.post {
  li {
    list-style-type: none;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    h1 {
      line-height: 2rem;
      letter-spacing: -0.5px;

      margin-bottom: 8px;
    }

    h4 {
      color: var(--body);
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;

      margin-bottom: 25px;
    }
  }
}

.info {
  color: var(--info);
  line-height: 17px;
  font-size: 14px;

  time {
    margin-right: 28px;

    svg {
      margin-right: 5px;
    }
  }

  span {
    svg {
      margin-right: 5px;
    }
  }
}

.btn {
  color: var(--highlight);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  margin-top: 60px;
  border: 0;
  background: transparent;
  opacity: 0.6;
  transition: opacity 0.2s;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.link {
  color: var(--heading);
  text-decoration: none;

  transition: color 0.2s;

  &:hover {
    color: var(--highlight);
  }
}
